:root{
    --cor-fundo: #020b86 ;
    --cor-principal: rgba(37, 38, 39, 0.933) ;
    --cor-secundaria: #3f58a8 ;
    --cor-destaque: #ffffff ;
    --cor-texto: #e6ff03 ;
}

body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.caixa-principal{
background-color: var(--cor-principal);
width: 90%;
text-align: center;
padding: 20px;
}

h1{
    color: var(--cor-destaque);
    
}
button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;

}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);

}